{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  {% if category == "error" %}
  {% set alert_cls = "danger" %}
  {% else %}
  {% set alert_cls = category %}
  {% endif %}
  <div class="alert alert-{{alert_cls}} alert-dismissible fade show col-4 offset-4" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}