{% extends('partials/base.html') %}

{% block content %}

<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>

  {% for word_grouping in tag_word_list %}
  <div class="row">
    {% for word in word_grouping %}
    <div class="col-xl-3 col-md-6">
      {% if loop.index == 1 %}
      {% set cls = "bg-success" %}
      {% elif loop.index == 2 %}
      {% set cls = "bg-warning" %}
      {% elif loop.index == 3 %}
      {% set cls = "bg-danger" %}
      {% else %}
      {% set cls = "bg-primary" %}
      {% endif %}
      <div class="card {{cls}} text-white mb-4">
        <div class="card-body">{{word.tag}}</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <div class="small text-white">word count = {{word.word_count}}</div>
          <a class="small text-white stretched-link" href="{{ url_for('tag_v1.view_tag', tag_id=word.tag_id) }}">View Details</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

</div>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='assets/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='assets/demo/chart-bar-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
{% endblock scripts %}